{% include "header.html" %}

<img src="static/images/about-bg.jpg" alt="" class="background-img">

<div class="container heading about">
   <div class="row">
      <div class="col-12">
         <h1>About Us</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <span class="subheading">This is what I do.</span>
      </div>
   </div>
</div>

<div class="container container-about">
   <p>Crop recommendation system built by using Machine Learning. with a motive of helping 
      farmers to choose a right crop for a. particular area of land. Soil and temperature are considered.
      In order to mitigate the agrarian crisis in the current status quo, there is a need for better 
      recommendation systems to alleviate the crisis by helping the farmers to make an informed 
      decision before starting the cultivation of cropsBased on soil, surface temperature and rainfall, 
      crop recommendation system provides accurate crop selection. Proposed model uses ensembling 
      technique to predict with high accuracy and efficiency, the crop that gives improved productivity.
      Agriculture is the important factor of economy in India. In recent years due to 
      industrialization; excessive use of pesticides the strength of soil is getting affected. Many of the 
      methods followed by agriculture are not sufficient to increase the productivity. The common 
      difficulty present among the Indian farmers is they don’t have any information regarding the right 
      crop based on their soil requirements so it affects the productivity.
      Indian farmers face a lot of challenges in making decisions about which farming technique 
      to opt for and which crop should be selected for which climate. The common problem existing 
      among Indian farmers that they don’t choose proper crops so as to obtain max yield which are 
      based on topographic features and financial aspects. In agriculture sector, achieving max crop yield 
      at min cost is goal of production.</p>
</div>
{% include "footer.html" %}